[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
unittest = "*"
nose-parameterized = "*"
requests = "*"
pep8 = "*"
autopep8 = "*"
ddt = "*"
timeout-decorator = "*"

[requires]
python_version = "3.7"
